fastapi
uvicorn
sqlalchemy
alembic
pydantic[email]
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
# psycopg2-binary    # for PostgreSQL (not required for SQLite; sqlite3 is included in the Python stdlib)
python-multipart
pydantic-settings
requests